<p id="notice"><%= notice %></p>

<p>
  <strong>Город:</strong>
  <%= @tariff.city %>
</p>

<p>
  <strong>Цена:</strong>
  <%= @tariff.price %>
</p>

<p>
  <strong>Льготная цена:</strong>
  <%= @tariff.special_price %>
</p>

<p>
  <strong>Действует до:</strong>
  <%= @tariff.expire_date %>
</p>

<%= link_to 'Править', edit_tariff_path(@tariff) %> |
<%= link_to 'Назад', tariffs_path %>
