<%= form_with(url: '/first', method: 'get', local: true) do |form| %>

  <input name='month' type='month' />

  <select name='city'>
    <% Tariff.cities.each do |city| %>
      <option><%= city %></option>
    <% end %>
  </select>

  <%= form.submit 'Show' %>
<% end %>

<%= form_with(url: '/second', method: 'get', local: true) do |form| %>
  <%= form.label 'Bad users' %>
  <%= form.submit 'Show' %>
<% end %>

<%= form_with(url: '/third', method: 'get', local: true) do |form| %>
  <input name='date' type='date' />
  <%= form.label 'Tariffs' %>
  <%= form.submit 'Show' %>
<% end %>

<%= link_to 'Calls', calls_path %>
<%= link_to 'Users', users_path %>
<%= link_to 'Tariffs', tariffs_path %>