<%= link_to 'На главную', root_path %>

<% @tariffs.each do |tariff| %>
  <div>
    <%= 'MTC' %>
    <%= tariff.expire_date %>
    <%= tariff.city %>
    <%= tariff.price %>
    <%= tariff.special_price %><br>
  </div>
<% end %>