<!DOCTYPE html>
<html>
  <head>
    <meta name='author' content='Василевич И.А. 721702' />
    <title>ПБЗ-2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1>Василевич И.А. 721702</h1>
    <%= yield %>
  </body>
</html>
